<h2>Categories Details</h2>
<div class="alert alert-danger" *ngIf="errorMessage">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Error!</strong> {{errorMessage}}
</div>

<div class="grid grid-pad">
	<form>
		<div class="panel panel-primary">
			<div class="panel-heading">Categories Details</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="row has-error">
						<span id="error" class="help-block"></span>
					</div>
					
					<div class="form-group">
						<label for="CategoryID" class="col-xs-3 col-sm-2 control-label">Category Id:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="CategoryID" name="CategoryID" placeholder="Category Id" [(ngModel)]="objCategories.CategoryID" readonly />
						</div>
					</div>
					<div class="form-group">
						<label for="CategoryName" class="col-xs-3 col-sm-2 control-label">Category Name:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Category Name" [(ngModel)]="objCategories.CategoryName" readonly />
						</div>
					</div>
					<div class="form-group">
						<label for="Description" class="col-xs-3 col-sm-2 control-label">Description:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="Description" name="Description" placeholder="Description" [(ngModel)]="objCategories.Description" readonly />
						</div>
					</div>
					<div class="form-group">
						<label for="Picture" class="col-xs-3 col-sm-2 control-label">Picture:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="Picture" name="Picture" placeholder="Picture" [(ngModel)]="objCategories.Picture" readonly />
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					<button class="btn btn-primary" (click)="gotoCategoriesEdit()">Edit</button>
					<a class="btn btn-primary" (click)="gotoCategories()">Cancel</a>
				</div>
				<div class="pull-left">
					<a class="btn btn-danger" (click)="deleteCategories(objCategories.CategoryID)">Delete</a>
				</div>
			</div>
		</div>
	</form>
</div>
