<div class="grid grid-pad">
	<h1>Products List</h1>
	<div class="alert alert-danger" *ngIf="errorMessage">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		<strong>Error!</strong> {{errorMessage}}
	</div>
	<table class="table table-bordered table-striped table-condensed table-hover">
        <caption>
            <div class="row" style="padding:2px;margin:0px;border:1px solid lightgray;background-color:lightblue;">
                <div class="col-md-4 text-left">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <a class="btn-sm" routerLink="/products/add" routerLinkActive="active" title="Add Products"><i class="glyphicon glyphicon-plus"></i></a>
                            <a class="btn-sm" title="Delete List(s)"><i class="glyphicon glyphicon-remove"></i></a>
                            <a class="btn-sm" title="Refresh List" (click)="onRefresh()"><i class="glyphicon glyphicon-refresh"></i></a>
                            <a class="btn-sm" title="Export to Excel"><i class="glyphicon glyphicon-list-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" >Rows: {{pageIndex*pageSize-pageSize+1}} to {{endRowIndex}} of {{rowsCount}}</div>
                <div class="col-md-4 text-right" >Page Size: {{pageSize}}, 
					<a class="btn-sm" title="Next Page" (click)="onFirstPage()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a> 
					<a class="btn-sm" title="Last Page" (click)="onPreviousPage()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
					Page: {{pageIndex}} 
					<a class="btn-sm" title="Next Page" (click)="onNextPage()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> 
					<a class="btn-sm" title="Last Page" (click)="onLastPage()"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a> of {{pageCount}}</div>
            </div>
        </caption>
		<tr> 
			<th>Action</th>
			<th>Product ID</th>
			<th>Product Name</th>
		</tr>
		<tbody>
			<tr *ngFor="let item of ProductsList">
				<td style="width: 100px">
					<a (click)="onSelect(item)">Edit</a>
					<a (click)="deleteProducts(item.ProductsID)">Delete</a>
				</td>
				<td class="text-left">{{item.ProductID}}</td>
				<td class="text-left">{{item.ProductName}}</td>
			</tr>
		</tbody>
	</table>
</div>
	